.resetpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.resetpage img{
    width: 70px;
}

.resetpage a{
    text-decoration: none;
}